In [2]:
import pandas as pd
import requests

In [3]:
url = 'https://climateknowledgeportal.worldbank.org/cru/cru/timeseries/tas/annual/climatology/historical/country/'
country_iso = 'ARG'
page = requests.get(url+country_iso)

In [46]:
type(page.status_code)

int

In [39]:
txt = 'year' + str(page.content)[2:].replace('\\n', '\n').split('\n', 1)[1][:-1]

In [40]:
archivo = open('temporal.csv', 'w')
archivo.write(txt)
archivo.close()

In [41]:
tabla = pd.read_csv('temporal.csv', index_col=0)

In [44]:
tabla[tabla.columns[0]]

year
1901    15.20
1902    14.84
1903    14.49
1904    14.72
1905    14.34
        ...
2017    15.52
2018    15.20
2019    15.18
2020    15.52
2021    15.40
Name: Argentina, Length: 121, dtype: float64

In [3]:
def get_table(iso_code):
    url = 'https://climateknowledgeportal.worldbank.org/cru/cru/timeseries/tas/annual/climatology/historical/country/'
    page = requests.get(url+iso_code)
    if page.status_code == 200:
        txt = 'year' + str(page.content)[2:].replace('\\n', '\n').split('\n', 1)[1][:-1]
        archivo = open('temporal.csv', 'w')
        archivo.write(txt)
        archivo.close()
        tabla = pd.read_csv('temporal.csv', index_col=0)
        return tabla[tabla.columns[0]].rename(iso_code)
    else:
        print('No se encontró', iso_code)

In [4]:
Series = []
codes = ['ATG', 'ARG', 'BHS', 'BRB', 'BLZ', 'BOL', 'BRA', 'CHL', 'COL', 'CRI', 'CUB', 'DMA', 'ECU', 'SLV', 'GTM', 'GUY', 'HTI', 'HND', 'JAM', 'MEX', 'NIC', 'PAN', 'PRY', 'PER', 'DOM', 'KNA', 'VCT', 'LCA', 'SUR', 'TTO', 'URY', 'VEN']
for code in codes:
    Series.append(get_table(code))

In [11]:
serie = Series[0].copy()
pais = serie.name
serie = serie.reset_index()
serie.rename(columns={pais: 'pais'}, inplace=True)
serie['codigo'] = pais
serie

     year   pais codigo
0    1901  26.23    ATG
1    1902  25.87    ATG
2    1903  25.98    ATG
3    1904  25.50    ATG
4    1905  25.83    ATG
..    ...    ...    ...
116  2017  27.36    ATG
117  2018  27.03    ATG
118  2019  27.43    ATG
119  2020  27.44    ATG
120  2021  27.33    ATG

[121 rows x 3 columns]

In [12]:
for i in range(len(Series)):
    serie = Series[i].copy()
    pais = serie.name
    serie = serie.reset_index()
    serie.rename(columns={pais: 'pais'}, inplace=True)
    serie['codigo'] = pais
    Series[i] = serie

In [13]:
tabla = pd.concat(Series, axis = 0)

In [14]:
tabla

     year   pais codigo
0    1901  26.23    ATG
1    1902  25.87    ATG
2    1903  25.98    ATG
3    1904  25.50    ATG
4    1905  25.83    ATG
..    ...    ...    ...
116  2017  25.88    VEN
117  2018  25.57    VEN
118  2019  25.87    VEN
119  2020  25.93    VEN
120  2021  25.61    VEN

[3872 rows x 3 columns]

In [16]:
tabla.to_csv('Temperatures.csv', index=False)