In [2]:
import pandas as pd
import requests

In [3]:
url = 'https://climateknowledgeportal.worldbank.org/cru/cru/timeseries/tas/annual/climatology/historical/country/'
country_iso = 'ARG'
page = requests.get(url+country_iso)

In [46]:
type(page.status_code)

int

In [39]:
txt = 'year' + str(page.content)[2:].replace('\\n', '\n').split('\n', 1)[1][:-1]

In [40]:
archivo = open('temporal.csv', 'w')
archivo.write(txt)
archivo.close()

In [41]:
tabla = pd.read_csv('temporal.csv', index_col=0)

In [44]:
tabla[tabla.columns[0]]

year
1901    15.20
1902    14.84
1903    14.49
1904    14.72
1905    14.34
        ...
2017    15.52
2018    15.20
2019    15.18
2020    15.52
2021    15.40
Name: Argentina, Length: 121, dtype: float64

In [54]:
def get_table(iso_code):
    url = 'https://climateknowledgeportal.worldbank.org/cru/cru/timeseries/tas/annual/climatology/historical/country/'
    page = requests.get(url+iso_code)
    if page.status_code == 200:
        txt = 'year' + str(page.content)[2:].replace('\\n', '\n').split('\n', 1)[1][:-1]
        archivo = open('temporal.csv', 'w')
        archivo.write(txt)
        archivo.close()
        tabla = pd.read_csv('temporal.csv', index_col=0)
        return tabla[tabla.columns[0]].rename(iso_code)
    else:
        print('No se encontr√≥', iso_code)

In [55]:
Series = []
codes = ['ATG', 'ARG', 'BHS', 'BRB', 'BLZ', 'BOL', 'BRA', 'CHL', 'COL', 'CRI', 'CUB', 'DMA', 'ECU', 'SLV', 'GTM', 'GUY', 'HTI', 'HND', 'JAM', 'MEX', 'NIC', 'PAN', 'PRY', 'PER', 'DOM', 'KNA', 'VCT', 'LCA', 'SUR', 'TTO', 'URY', 'VEN']
for code in codes:
    Series.append(get_table(code))

In [56]:
tabla = pd.concat(Series, axis = 1)

,ATG,ARG,BHS,BRB,BLZ,BOL,BRA,CHL,COL,CRI,...,PRY,PER,DOM,KNA,VCT,LCA,SUR,TTO,URY,VEN
year,,,,,,,,,,,,,,,,,,,,,
1901,26.23,15.20,23.25,25.90,24.93,21.23,24.91,9.87,24.49,24.28,...,24.12,19.22,23.67,26.51,25.41,26.23,26.65,25.93,17.33,25.04
1902,25.87,14.84,24.07,25.75,25.14,21.12,25.04,9.34,24.39,24.28,...,24.25,19.21,23.35,26.11,25.17,26.02,26.66,25.66,17.37,24.69
1903,25.98,14.49,23.79,25.78,25.12,20.72,24.87,9.12,24.42,24.28,...,23.57,19.02,23.41,26.21,25.24,26.07,26.64,25.69,16.97,24.77
1904,25.50,14.72,23.77,25.55,24.98,20.59,24.66,9.40,24.42,24.28,...,23.53,18.93,22.99,25.71,24.99,25.79,26.24,25.39,16.89,24.64
1905,25.83,14.34,24.35,25.70,25.09,20.92,24.84,8.98,24.36,24.28,...,23.55,19.16,23.40,26.08,25.14,25.97,26.47,25.55,16.68,24.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,27.36,15.52,25.69,26.75,26.09,20.97,25.77,9.87,25.11,24.92,...,24.35,19.98,24.69,27.64,26.32,27.14,26.75,26.74,18.78,25.88
2018,27.03,15.20,25.47,26.44,25.53,20.56,25.59,9.56,25.04,24.53,...,23.74,19.58,24.57,27.32,25.97,26.79,26.53,26.38,18.23,25.57
2019,27.43,15.18,25.96,26.71,26.05,20.90,25.94,9.66,25.42,24.89,...,24.25,19.89,24.89,27.75,26.26,27.10,26.84,26.69,18.14,25.87
2020,27.44,15.52,25.99,26.80,26.38,21.35,25.93,9.97,25.36,25.08,...,24.62,19.95,24.86,27.73,26.33,27.18,26.90,26.78,18.12,25.93
2021,27.33,15.40,25.50,26.64,26.15,20.82,25.58,9.88,24.97,24.94,...,24.01,19.79,24.70,27.61,26.17,27.04,26.56,26.54,18.06,25.61

In [57]:
tabla.to_csv('Temperatures.csv')